<ion-view view-title="Thomas Ochman">
  <ion-content class="stable-bg has-bg" ng-style="{'background-image': 'url(\'' + 'img/bg.png' + '\')'}">
    <div class="list card profile-top text-center">
      <div class="item item-text-wrap">
        <button class="button button-icon ion-edit calm"></button>
        <img src="https://i1.sndcdn.com/avatars-000008553910-pzwwqu-t500x500.jpg" class="avatar-profile" alt="">
        <h2 class="font-thin">Thomas Ochman</h2>
        <p>Founder CraftAcademy, Co-founder AgileVentures.org</p>
        <p class="text-muted">Vietnam · 304 <i class="icon ion-person-stalker"></i></p>
        <div class="padding">
          <button class="button button-calm">Message</button>
        </div>
        <br>
        <p>Passionate about new technologies. Developer of software and people.</p>
      </div>
    </div>

    <div class="list card">
      <div class="item b-none">
        <div class="row row-top">
          <div class="col-67">
            <h2>Activity</h2>
              <p>7,229 followers</p>
          </div>
          <div class="col-33 text-right">
            <button class="button button-small button-calm button-outline">
              Following
            </button>
          </div>
        </div>
      </div>
      <div class="item item-avatar" ng-repeat="i in [0,1,2,3,4]">
        <img src="img/adam.jpg" alt="" class="avatar-organization">
        <h2><b>We moved to the new office</b></h2>
        <p>Ha shared</p>
      </div>
      <div class="item item-divider text-center">
        <button class="button button-clear button-calm"><b>See more</b></button>
      </div>
    </div>

    <div class="list card">
      <div class="item item-divider">
        Highlights
      </div>
      <div class="item item-avatar item-text-wrap" ng-repeat="i in [0,1]">
        <img src="img/ben.png" alt="">
        <h2><b>78 mutual connections</b></h2>
        <p>You and Nam both know Hung Nguyen, Tan and 76 others</p>
      </div>
    </div>

    <div class="list card">
      <div class="item item-divider">
        Experience
      </div>
      <div class="item item-avatar item-text-wrap" ng-repeat="i in [0,1,2]">
        <img src="img/mike.png" alt="" class="avatar-organization">
        <h2><b>Technical Recruiter</b></h2>
        <p>Criteoh</p>
        <p>May 2015 - Now · 9 mos</p>
      </div>

      <div class="item item-divider">
        Education
      </div>
      <div class="item item-avatar item-text-wrap" ng-repeat="i in [0,1,2]">
        <img src="img/mike.png" alt="" class="avatar-organization">
        <h2><b>Hanoi University of Technologies</b></h2>
        <p>BS</p>
        <p>2006 - 2011</p>
      </div>

      <div class="item item-divider text-center">
        <button class="button button-clear button-calm"><b>See more</b></button>
      </div>
    </div>

    <div class="list card">
      <div class="item item-divider">
        Skills & Endorsements
      </div>
      <div class="item item-icon-right item-text-wrap" ng-repeat="i in [0,1,2]">
        <div class="row row-center">
          <div class="col-67">
            <h2><b>Human Resources</b></h2>
          </div>
          <div class="col-33 text-right">
            <span class="text-muted">+99</span>
            <img src="img/ben.png" class="avatar-small box-shadow">
          </div>
        </div>
        <i class="icon ion-plus-circled calm"></i>
      </div>

      <div class="item item-divider text-center">
        <button class="button button-clear button-calm"><b>See 33 more</b></button>
      </div>
    </div>

    <div class="list card">
      <div class="item item-divider">
        Groups
      </div>
      <div class="item item-avatar item-text-wrap" ng-repeat="i in [0,1,2]">
        <img src="img/mike.png" alt="" class="avatar-organization">
        <h2><b>Havard Business Review</b></h2>
        <p>102 new conversations</p>
      </div>

      <div class="item item-divider text-center">
        <button class="button button-clear button-calm"><b>See 15 more</b></button>
      </div>
    </div>

    <div class="list card-transparent">
      <div class="item item-divider text-center">
        People also viewed
      </div>
      <div class="item item-avatar item-text-wrap" ng-repeat="i in [0,1,2,3,4]">
        <img src="img/ben.png" alt="">
        <h2><b>Optimus Prime</b>· 2nd</h2>
        <p>HR Director at Some Big Company</p>
      </div>
    </div>
  </ion-content>
  <div class="button-fab calm-bg box-shadow">
    <i class="icon ion-plus"></i>
  </div>
</ion-view>
