<ion-view view-title="Settings">
  <ion-header-bar class="bar-subheader">
    <div class="tabs tabs-secondary" ng-init="activeTab = 0">
      <div class="tab-item" ng-class="{active: activeTab == 0}" ng-click="activeTab = 0">
        Account
      </div>
      <div class="tab-item" ng-class="{active: activeTab == 1}" ng-click="activeTab = 1">
        Privacy
      </div>
      <div class="tab-item" ng-class="{active: activeTab == 2}" ng-click="activeTab = 2">
        Communications
      </div>
    </div>  
  </ion-header-bar>
  <ion-content class="has-header has-subheader">
    <div ng-show="activeTab == 0">
      <div class="list">
        <div class="item item-text-wrap" ng-repeat="i in [0,1,2,3,4,5,6,7,8,9]">
          <h2>Email addresses</h2>
          <p>Add or remove email address on your account</p>
        </div>
      </div>
    </div>

    <div ng-show="activeTab == 1">
      <div class="list">
        <div class="item item-text-wrap" ng-repeat="i in [0,1,2,3,4,5,6,7,8,9]">
          <h2>Sharing profile edits</h2>
          <p>Choose whether we notify your network about profile changes</p>
        </div>
      </div>
    </div>

    <div ng-show="activeTab == 2">
      <div class="list">
        <div class="item item-text-wrap">
          <h2>Push notifications</h2>
          <p>Choose which mobile push notifications you receive</p>
        </div>
        <div class="item">
          <h2>Help Center</h2>
        </div>
        <div class="item">
          <h2>Privacy Policy</h2>
      </div>
    </div>
  </ion-content>
</ion-view>
